html,
body {
  background-color: #fafbf8;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.logo{
  border-radius: 3px;
}
.project{
    background-color: #fbfafa;
}